coverage/
dist/
documentation/
html-report/
node_modules/
**/*npm-debug.log.*
**/*yarn-error.log.*
package-lock.json
.idea/
.DS_Store
.npm-debug.log
.yarn-error.log
.vscode
yarn.lock
package-lock.json
git_stats
